html, body {
    height: 100%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

#text{
    height: 50vw;
    width: 80vw;
    stroke-dasharray: 3000;
    animation: 5s fillSvg linear;
}

@keyframes fillSvg{
    0%{
        stroke-dashoffset: 3000;
    }
    100%{
        stroke-dashoffset: 0;
    }
}